<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrapper" th:fragment="aside">
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">TheDoor</a>
                </div>
            </div>
        </aside>
<!--        -->
        <div class="main">
            <nav class="nav navbar-expand px-3 border-bottom">
<!--                Button-->
                
            </nav>
        </div>
    </div>
</body>
</html>