<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/asm_new/home"><img src="./icon/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">NỘI
                                THẤT
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">PHÒNG KHÁCH</a></li>
                                <li><a class="dropdown-item" href="#">PHÒNG ĂN</a></li>
                                <li><a class="dropdown-item" href="#">PHÒNG NGỦ</a></li>
                                <li><a class="dropdown-item" href="#">PHÒNG LÀM VIỆC</a></li>
                                <li><a class="dropdown-item" href="#">BẾP</a></li>
                                <li><a class="dropdown-item" href="#">BAN CÔNG</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">SOFA
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">SOFA</a></li>
                                <li><a class="dropdown-item" href="#">ĐÔN</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ DIVA</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ THƯ GIÃN</a></li>
                                <li><a class="dropdown-item" href="#">GỐI SOFA</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">BÀN
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">BÀN CAFE</a></li>
                                <li><a class="dropdown-item" href="#">BÀN GÓC</a></li>
                                <li><a class="dropdown-item" href="#">BÀN ĂN</a></li>
                                <li><a class="dropdown-item" href="#">BÀN LÀM VIỆC</a></li>
                                <li><a class="dropdown-item" href="#">BÀN TRANG ĐIỂM</a></li>
                                <li><a class="dropdown-item" href="#">BÀN BAN CÔNG</a></li>
                                <li><a class="dropdown-item" href="#">BÀN CHO BÉ</a></li>
                                <li><a class="dropdown-item" href="#">BÀN CONSOLE</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">GHẾ
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">GHẾ ĂN</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ BAN CÔNG</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ BĂNG</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ BAR</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ CAFE</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ ĐÔN</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ VĂN PHÒNG</a></li>
                                <li><a class="dropdown-item" href="#">GHẾ TRANG ĐIỂM</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">TỦ KỆ
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">KỆ TIVI</a></li>
                                <li><a class="dropdown-item" href="#">KỆ SÁCH</a></li>
                                <li><a class="dropdown-item" href="#">KỆ TRANG TRÍ</a></li>
                                <li><a class="dropdown-item" href="#">TỦ GIÀY</a></li>
                                <li><a class="dropdown-item" href="#">TỦ LY CHÉN</a></li>
                                <li><a class="dropdown-item" href="#">TỦ QUẦN ÁO</a></li>
                                <li><a class="dropdown-item" href="#">TỦ TRANG ĐIỂM</a></li>
                                <li><a class="dropdown-item" href="#">GIÁ TREO</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">GIƯỜNG
                                NGỦ
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">GIƯỜNG CHO BÉ</a></li>
                                <li><a class="dropdown-item" href="#">GIƯỜNG</a></li>
                                <li><a class="dropdown-item" href="#">TỦ ĐẦU GIƯỜNG</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">ĐÈN
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">ĐÈN BÀN</a></li>
                                <li><a class="dropdown-item" href="#">ĐÈN SÀN</a></li>
                                <li><a class="dropdown-item" href="#">ĐÈN TRẦN</a></li>
                                <li><a class="dropdown-item" href="#">ĐÈN TƯỜNG</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">BẾP
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">TỦ BẾP</a></li>
                                <li><a class="dropdown-item" href="#">BỘ ĐỒ GỐM SỨ</a></li>
                                <li><a class="dropdown-item" href="#">ĐỒ DÙNG BÀN ĂN</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">ĐỒ
                                TRANG TRÍ
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">BÌNH HOA</a></li>
                                <li><a class="dropdown-item" href="#">GƯƠNG</a></li>
                                <li><a class="dropdown-item" href="#">GỐI SOFA</a></li>
                                <li><a class="dropdown-item" href="#">ĐỒNG HỒ</a></li>
                                <li><a class="dropdown-item" href="#">LỒNG ĐÈN NẾN</a></li>
                                <li><a class="dropdown-item" href="#">TRANH VÀ KHUNG ẢNH</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="navlink btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">DỊCH VỤ
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="d-flex cart">
                    <a href="/asm_new/account" class="btn btn-outline-success me-2"><i class="bi bi-person-fill"></i>Đăng nhập</a>
                    <%--cart btn--%>
                    <div class="dropdown">
                        <button class="btn cartbtn dropdown-toggle" type="button" id="dropdownCartButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bag-fill"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownCartButton">
                            <li><a class="dropdown-item" href="#">Trống</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>