/*cart*/
.cart-list .card {
	max-width: 70em;
	flex-direction: row;
	margin-bottom: 1em;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.cart-list .card img {
	max-width: 25%;
	margin: auto;
	padding: 0.5em;
	border-radius: 0.7em;
}

.text-section {
	max-width: 60%;
}

.total {
	display: flex;
	justify-content: space-between;
	max-width: 70%;
	margin: 0 auto;
	margin-bottom: 1em;
	font-weight: 600;
	font-size: 1.2em;
}

.cta-section {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.cta-section .btn {
	padding: 0.3em 0.5em;
	border-color: #898989;
}

@media screen and (max-width: 475px) {
	.cart-list .card {
		height: 10em;
		width: 100%;
		font-size: 0.9em;
	}

	.text-section {
		max-width: 100%;
	}

	.cart-list .cart .img {
		width: 100%;
		height: 100%;
	}
}

/* aside */
.divider {
	width: 150px;
	height: 2px;
	background-color: #AD88C6;
	border: none;
	margin: 0 auto;
}

.purchase .card .btn {
	width: 100%;
	height: 40px;

}

.purchase .card .btn:hover {
	box-shadow: 0 0 10px #000;
}