<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="productLists" th:fragment="productList">
    <div class="d-flex justify-content-end align-items-center mb-2">
        <div class="container dropdown text-end">
            <button class="btn dropdown-toggle softbtn" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">Sắp xếp sản phẩm</button>
            <ul class="dropdown-menu" style="">
                <li><a class="dropdown-item" th:href="@{|/product/danh-sach-san-pham/${danhmuc}?sort=desc|}">Giá : Cao &gt; Thấp</a></li>
                <li><a class="dropdown-item" th:href="@{|/product/danh-sach-san-pham/${danhmuc}?sort=asc|}">Giá : Thấp &gt; Cao</a></li>
                <li><a class="dropdown-item" th:href="@{|/product/danh-sach-san-pham/${danhmuc}?sort=newest|}">Mới nhất</a></li>
            </ul>
        </div>

    </div>
    <div class="container">
        <div class="row px-2 mt-4 gap-3" id="filterable-cards"th:if="${not #lists.isEmpty(products)}">
            <h3 th:text="${danhmuc}"></h3>
            <div th:each="product : ${products}" th:if="${product.trangthai == true}" class="card p-0 col-md-4" data-name="nature">
                <img alt="product-img" th:src="@{${product.anhsp}}" class="w-100">
                <div class="card-body">
                    <a th:href="@{/product/{id}(id=${product.masp})}" th:text="${product.tensp}"></a>
                    <p class="card-text" th:text="${product.gia}"></p>
                </div>
                <div class="btn-section">
                    <a class="btn btnA" th:href="@{/product/{id}(id=${product.masp})}">Xem chi tiết</a>
                    <a class="btn btnB" th:href="@{/product/addtocart(id=${product.masp})}">Thêm vào giỏ</a>
            </div>
        </div>
    <div th:if="${#lists.isEmpty(products)}" class="alert alert-warning" role="alert">
        Chưa có sản phẩm nào
    </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('#filterable-cards .card img').forEach(
        function(img) {
            img.addEventListener('mouseenter', function() {
                let hoverImg = img.getAttribute('data-hover');
                if (hoverImg) {
                    img.setAttribute('data-src', img.src);
                    img.src = hoverImg; // Thay đổi sang ảnh khi di chuột vào
                }
            });
            img.addEventListener('mouseleave', function() {
                let originalImg = img.getAttribute('data-src');
                if (originalImg) {
                    img.src = originalImg; // Khôi phục lại ảnh gốc
                }
            });
        });
</script>
</body>
</html>